# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/flutter_export_environment.sh

# IntelliJ related
*.iml
.idea/
.metadata

# Android related
android/.gradle/
android/app/debug
android/app/profile
android/app/release

# VS Code
.vscode/
